<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="cajaBody">
    <header class="cajaHeader">
        <img class="cajaBody__logoMercadoLibre" src="/images/logo-mercado-liebre.svg" alt="fotito mercado conejo"> 
        <div class="cajaHeader__navBar">
            <span class="cajaHeader__navBar-text">
                Buscar productos, marcas;
            </span>
            <button class="lupa"> 
                <i class="fa-solid fa-magnifying-glass"></i> 
            </button>
        </div>
        
        <p class="cajaHeader__p">
            <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav class="cajaHeader__navList">
                <ul class="cajaHeader__navList-ul">
                <li class="cajaHeader__navList-ul-li"><a href="#">Ofertas</a></li>
                <li class="cajaHeader__navList-ul-li"><a href="#">Tiendas oficiales</a></li>
                <li class="cajaHeader__navList-ul-li"><a href="#">Vender</a></li>
                <li class="cajaHeader__navList-ul-li"><a href="#">Ayuda</a></li>
            </ul>
        
            <ul class="cajaHeader__navList-ul2">
                <li class="cajaHeader__navList-ul2-li"><a href="/register.html">Creá tu cuenta</a><i class="fa-solid fa-user"></i></li>
                <li class="cajaHeader__navList-ul2-li"><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li class="cajaHeader__navList-ul2-li"><a href="#">Mis compras</a><i class="fa-solid fa-bag-shopping"></i></li>
            </ul> 
           
        </nav>
        <div class="menuHamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    
    <main class="cajaMain">
        <img class="cajaMain__banner" src="/images/img-home-banner.jpg" alt="foto del banner">
        <section class="cajaMain__cajaProduct"> 
            <h3 class="titulares">Basado en tu última visita</h3>
            <article class="cajaMain__section-product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafeterinha" width="300" height="300">
                <div class="cajaMain__section-product-desc">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <b>Cafetera Moulinex</b>
                </div>
            </article>
        
            <article class="cajaMain__section-product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la macbook" width="300" height="300">
                <div class="cajaMain__section-product-desc">              
                    <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <b>Macbook Pro 2019</b>
                </div>
            </article>

            <article class="cajaMain__section-product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del fono" width="300" height="300">
                <div class="cajaMain__section-product-desc">
                    <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <b>Samsung Galaxy S10</b>
                </div>
            </article>

            <article class="cajaMain__section-product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart" width="300" height="300">
                <div class="cajaMain__section-product-desc">             
                    <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <b>SmartTV Samsung 43"</b>
                </div>
            </article>
        </section>
        
        <section class="cajaMain__cajaProduct">
            <h3 class="titulares">Sección de Ofertas</h3>
            <article class="cajaMain__section-product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafeterinha" width="300" height="300">
                <div class="cajaMain__section-product-desc">    
                        <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <b>Cafetera Moulinex</b>
                </div>
            </article>
        
            <article class="cajaMain__section-product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de la macbook" width="300" height="300">
                <div class="cajaMain__section-product-desc">
                    <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <b>Macbook Pro 2019</b>
                </div>
            </article>

            <article class="cajaMain__section-product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del fono" width="300" height="300">
                <div class="cajaMain__section-product-desc">
                    <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <b>Samsung Galaxy S10</b>
                </div>
            </article>

            <article class="cajaMain__section-product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del smart" width="300" height="300">
                <div class="cajaMain__section-product-desc">
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <b>SmartTV Samsung 43"</b>
                </div>
            </article>
        </section>

    </main>
<br>
    <footer class="cajaFooter">
        <section class="cajaFooter__sec">
            <article class="img-footer">
                <i class="fa-solid fa-credit-card"></i>
            </article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="cajaFooter__sec-p"> 
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p>
               
        </section>
        <section class="cajaFooter__sec">
            <article class="img-footer">
                <i class="fa-solid fa-gift"></i>
            </article>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="cajaFooter__sec-p"> 
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="cajaFooter__sec">
            <article class="img-footer">
                <i class="fa-solid fa-user-shield"></i>
            </article>
            <h3>Seguridad, de principio a fin</h3>
            <p class="cajaFooter__sec-p"> 
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p>
        </section>
        
        <h6 class="cajaFooter__copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
      
    </footer>

</body>

</html>