* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
.cajaBody {
    background-color:#ebebeb;
}
.cajaBody__logoMercadoLibre{
    width: 70vw;
    display: block;
}
.titulares {
    font-size: 24px;
    width: 100vw;
    text-align: center;
}
.descuentos {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #00a650;
}
.precios {
    font-size: 18px;
    margin: auto;
}
.menuHamburguesa{
    border-radius: 5px;
    width: 30px;
    padding: 5px;
    background-color: blue;
    text-align: center;
    color: white;
    margin:auto
}
.cajaHeader{
    background-color:#EAC926;
    background-size: contain;
    padding: 10px;
}
.cajaNav {
    display: none;
}
.cajaHeader__navBar {
    width: 55vw;
    color: #666;
    display:block;
    background-color: white;
    border: solid 2px;
    border-color: black;
    padding: 2px;
    margin: 4px;
}
.cajaHeader__p {
    text-align: center;
}
.cajaMain__cajaProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cajaMain {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cajaMain__section {
    text-align: center;
}
.cajaMain__section-product{
    background-color:white;
    margin: 10px 0 10px 0px;
}
.cajaMain__section-product-desc {
    border-top: #ebebeb solid 1px;
    padding: 15px;
}
.circle-icon {
    color: #00a650;
    display: inline-block;
    border: #00a650 solid 2px ;
    border-radius: 50%; 
    padding: 7px; 
  }
.lupa{
    margin-left: 8px;
    margin-top: 8px;
    color: black;
}
.cajaFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 0px 20px 15px 20px;
    padding: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
    color: black;
}
ul li a {
    margin-right: 2px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.img-footer {
    color: #0b2da6;
    font-size: 36px;
    margin: auto;
    width: 15px;
}
.cajaFooter__sec{
    text-align: center;
    padding: 30px;
}

.cajaFooter__copyright {
    width: 100vw;
}


/* Media query para tablets */
@media screen and (min-width: 669px) and (max-width: 1023px) {
    .cajaNav {
        display: contents;
    }
    .menuHamburguesa {
        display: none;
    }
    .cajaMain__section-product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cajaFooter {
        padding-top: 20px;
    }
    .cajaFooter__sec {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    background-color: white;
    margin: 0px 20px 15px 20px;
    padding: 5px;
    }
    .cajaFooter__sec-p {
        text-align: center;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
    }
}
  
  /* Media query para laptops y escritorio */
  @media screen and (min-width: 1024px) {
    .cajaNav {
        display:contents;
    }
    .menuHamburguesa {
        display: none;
    }
    .cajaMain__section-product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .cajaFooter__sec-p {
        width: 20vw;
        margin: auto;
        display: flex;
        font-size: 20px;
    }
  }
  